/* Containers */
.rb-box {
    padding: 30px;
    background: white;
    border-radius: 0.75em;
}

.rb-box > p {
    color: #FFFFFF;
    margin: 1%;
}

.rb > span {
    color: #FFFFFF;
}

.rb {
    padding: 1%;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 0.3em;
}

.rb-tab {
    display: inline-block;
    position: relative;
    width: 7.8%;
    margin-left: 0.5%;
}
.rb-null-element{
    margin-right: 3%;
}

.rb-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    color: #ffffff;
}

.rb-txt-na{
    font-size: .7em;
}

.rb-spot {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    cursor: pointer;
    transition: ease 0.5s;
}
.rb-yes {
    left: 200% !important;
}

.rb-tab-active .rb-spot {
    background: rgba(0, 0, 0, 0.35);
    border: 2px solid rgba(243, 49, 128, 0.6);

}

#rb-8 > div > div > span, .rb-7 > div > div > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70%;
    color: #ffffff;
}

iframe {
    width: 100%;
    overflow: hidden;
    border: none;
}

.add-disabled-cursor {
    cursor: not-allowed;
}

.alert-save{
    color: #00CC00;
    font-weight: normal;
    padding-top: 15px;
}
.slider-holder{
    padding-bottom: 20px;
    padding-top: 20px;
}
.slider_label_holder{
    color: white;
    left: 45px;
    position: relative;
}
.sub-header-comment{
    color: white;
}

.padding-2{
    padding: 2%;
}
#voting-page{
    padding: 0 15px;
}
.slider-holder{
    padding-top: 30px;
}
.slider-info-text{
    font-weight: bold;
    font-size: 18px;
}
.break-down{
    padding-top: 30px;
    padding-bottom: 30px;
}
.comment-text-area-holder{
    margin-left: 20px;
    margin-right: 20px;
}
.comment-text-area{
    width: 100%;

}
.prev-next-holder{
    margin-top: 15px;
}

.radio-voting {
    width: 25px;
    height: 25px;
    top: 50%;
    left: 50%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    cursor: pointer;
    transition: ease 0.5s;

}
.radio-voting-holder{
   padding-left: 40px;
}

.radio-voting-text{
 display: inline-block;

}
.radio-voting-do-not-like {
    transform: translate(0%, 40%);
}

.radio-voting-pass {
    transform: translate(0%, 40%);
}

.radio-voting-like {
    transform: translate(0%, 40%);
}
.radio-voting-finalize {
    transform: translate(60%, 20%);
}
.voted-ticker-holder{
    padding-bottom: 20px;
}

.radio-do-not-like{
    text-align: right !important;
}
.radio-like{
    text-align: left !important;
}
.save-comment{
    padding-left: 20px;
    padding-bottom: 20px;
}


.voted-ticker-holder  .radio-inline {
    padding-left: 0px !important;

}
.voted-ticker-holder > div{
    text-align: center;
}
.hide-on-xs{
    display: inline-block;
}
.show-on-xs{
    display: none;
}
@media (max-width: 768px) {
    .voted-ticker-holder > div{
        text-align: left !important ;
    }
    .radio-do-not-like{
        text-align: left !important;
    }
    .radio-like{
        text-align: left !important;
    }
    .hide-on-xs{
        display: none;
    }
    .show-on-xs{
        display: inline-block;
    }
}