/* Containers */
.rb-box {
    padding: 1.3em;
    background: #333f58;
    border-radius: 0.75em;
}
.rb-box > p {
    color: #FFFFFF;
    margin: 1%;
}
.rb > span {
    color: #FFFFFF;
    text-align: left;
}
.rb {
    padding: 1%;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 0.3em;
}

.rb-tab {
    display: inline-block;
    position: relative;
    width: 8%;
}

.rb-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    color: #ffffff;
}

.rb-spot {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    cursor: pointer;
    transition: ease 0.5s;
}

.rb-tab-active .rb-spot {
    background: rgba(0, 0, 0, 0.35);
    border: 2px solid rgba(243, 49, 128, 0.6);
}

/* Submit Button */
.button-box {
    padding: 10px 0;
    text-align: center;
}

.rb-box > .button-box > button {
    display: inline-block;
    width: 80%;
    margin-top: 1.2em;
    padding: 1em;
    max-width: 220px;
    font-size: 0.9em;
    color: #d42d78;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    background: white;
    border: none;
    outline: none;
    border-radius: 5em;
    box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.3);
    transition: color 0.6s, box-shadow 0.3s, transform 0.3s;
    cursor: pointer;
}

.rb-box > .button-box > button:hover {
    box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.3);
    color: #6f6f6f;
}
